input[type="range"] {
  /* large enough to dominate height of input-group */
  height: 50px;
}

/* Large text for settings */
/* TODO: ensure this works on mobile devices */
.input-group-text {
  min-width: 15em;
  font-size: 1.5em;
}

/* Remove box around range controller when rules is clicked */
.form-control:focus {
  box-shadow: none;
}

/* Force pointer on letters indicating Koch method progress */
.kochline {
    cursor: pointer;
}

/* Formatting for numeric settings */
output {
    font-weight: bold;
    margin: 0em 0.5em;
}
